<div class="container">
  <h1>Event show</h1>
  <p>title : <%= @event.title %></p>
  <p>description : <%= @event.description %></p>
  <p>nombre d'inscrit : <%= @event.users.count %></p>
  <p>créateur : <%= @event.admin.first_name %></p>
  <p>date de début : <%= @event.start_date %></p>
  <p>date de fin : <%= @end_date %></p>
  <p>Lieu : <%= @event.location %></p>
  <p>prix : <%= @event.price %></p>


</div>